header {
    @include gradientBackground;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;

.container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 46% 46%;
    gap: 8%;
    align-items: center;
    justify-content: space-between;


.header__content {
    h1 {
        font-size: 3.5rem;
        line-height: 1.1;
        letter-spacing: -3px;
        font-weight: 300;
    }

    p {
        margin: 1rem 0 2rem;
        color: $light-color;
        font-size: 1.1rem;
    }
  }
 }
}

/* =========MEDIA QUERIES (DISPOSITIVOS MEDIOS) ============ */
@media screen and (max-width:1024px){
    header {
        height: 60vh;       


        .container {
        gap:1rem;
        .header__content{
        h1 {
            font-size: 2.2rem;
        }
    }
   }
 }   
}

/*=========MEDIA QUERIES (DISPOSITIVOS PEQUENOS) ==========*/
@media screen and (max-width:600px){
    header {
        height: 100vh;
        padding-top: 3rem;

        .container {
            grid-template-columns: 1fr;
            text-align: center;

        .header__content {
            margin: 0.8rem 0 1.5rem;
            line-height: 1.4rem;   
        }
        }

    }
}    
    


