@import "./partials/config";
@import "./partials/mixins";
@import "./partials/general";
@import "./partials/nav";
@import "./partials/header";
@import "./partials/services";
@import "./partials/doctors";
@import "./partials/testimonials";
@import "./partials/appointments";